body {
  background-color: #303030;
}

.btn {
  background-color: #05c5ff;
  border-width: 6%;
  border-height: 6%;
  border-radius: 8px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
}

.btn:hover {
  background-color: #00a1d1;
}
