body {
  background-color: #303030;
}

.btn {
  background-color: #05c5ff;
  border: 2px solid #05c5ff;
  border-radius: 8px;
  width: 19px;
  height: 19px;
  text-align: center;
  font-size: 6px;
  font-family: sans-serif;
}

.btn:hover {
  background-color: #00a1d1;
}
